{% block content %}
<h1>{{ book.title }}</h1>

<h3>Book Info:</h3>
<p>
    {{ book.desc }}

<h4>Comments : </h4>

{% for comment in  books %}

<br>
<br>

<p>
    <strong>{{ comment.name }}</strong>
    <p>
        {{ comment.content }}
    </p>
</p>

{% endfor %}

<br>

<h3> Add Comment :</h3>
<form action="{% url 'books:book_detail' book.id %}" method="POST" >
    {% csrf_token %}
    {{ form.as_p }}

    <input value="Submit Comment" type="submit" />
</form>

{% endblock %}

<h4><a href="{% url 'books:add_favorite' book.id %}">Add To Favorites</a></h4>

