{% extends 'base.html' %}


{% block content %}

<h4>{{ Book.title}}</h4>
<h4>{{ Book.desc}}</h4>
<h4><a href="{% url 'add_favorite' Book.id %}">Add To Favorites</h4></a>

<h4>Comments : </h4>

{% for comment in  Book.reviews_set.all %}

<br>
<br>

<p>
    <strong>{{ comment.name }}</strong>
    <p>
        {{ comment.content }}
    </p>
</p>

{% endfor %}

<br>
<br>
<br>

<h3> Add Comment :</h3>
<form  method="POST" >
    {% csrf_token %}
    {{ form.as_p }}

    <input value="Submit Comment" type="submit" />
</form>

{% endblock %}