{% extends 'base.html' %}

{% block title %} Add new Book {% endblock %}



{% block content %}

<h2> Add new Book: </h2>
<div class="form">
    <form method="POST" action="{% url 'add_book' %}" enctype="multipart/form-data" >
    {% csrf_token %}
    <label>Book Title:</label> <input name="title" type="text" />
    <label>Book Desc:</label> <input name="desc" type="text" />

    <input type="submit" value="Create Movie" />
</form>

<br>
<br>

<h2>Form Book 2:</h2>
<form method="POST" action="{% url 'add_book2' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Add Book" />
</form>

    </div>
{% endblock %}

