{% extends 'base.html' %}


{% block content %}

<h1>{{ book.title }}</h1>

<h3>Book Info:</h3>
<p>
    {{ book.desc }}

</p>
<br>
<h4>Book Rating : {{ book.rating }}</h4>

<h4>Comments : </h4>

{% for comment in  book.comment_set.all %}

<br>
<br>

<p>
    <strong>{{ comment.name }}</strong>
    <p>
        {{ comment.content }}
    </p>
</p>

{% endfor %}

<br>

<h3> Add Comment :</h3>
<form action="{% url 'book_detail' book.id %}" method="POST" >
    {% csrf_token %}
    {{ form.as_p }}

    <input value="Submit Comment" type="submit" />
</form>

{% endblock %}