{% extends 'base.html' %}
{% block title %} The index  {% endblock %}

{% block content %}
{% load static %}

<h2>The Books :</h2>
{%if books %}

<form method="POST" class="post-form" action="/index" >
        {% csrf_token %}
<table class="table">
    <thead>
    <tr>
        <th>The Title</th>
        <th>The Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>{{book.title}}</td>
        <td>{{book.description}}</td>
        <td>
           <p> <a href="/comment/{{ book.id }}"><span class="link-secondary" >Comment</span></a></p>
                <form>
                    <button formaction="{% url 'bookapp:favorites-detail' book.id %}">add favorites</button>
                </form>

        </td>
    </tr>
    {% endfor%}
    </tbody>
</table>
</form>
    <h5><a href="/add/" class="link-secondary" >Add New Record</a></h5>
{% else %}
    <h2>You have no favorite books</h2>
{%endif%}
<style>
    body{
    font-size:{{font_size}} !important;
}
</style>
{% endblock %}